.menu
{
    display: flex;
    flex-direction: row;
 
}
nav{
    display: flex;
    flex-direction: row;  
    align-items: baseline;  
   
}
#connex{
    display:flex;
    flex-direction:row;
    align-items: baseline; 
}
ul li{
    padding-right: 20%;
    list-style-type: none;
    
}
li{
    color:white;
   
}
.inscript{
    padding-left: 42%;
}
nav a{
    text-decoration: none;
    color:white;
    font-size: 150%;
}
#mail2
{
    height:22px;
    border-radius:5%;
}
#motdepasse22{
    height:22px;
    border-radius:5%;

}
#submit2{
    height:22px;
    border-radius:5%;
    color: white;
    background-color: orangered;

}
#mailconnexion{
    width: 64px;
    padding-left: 5%;
}
#mdpconnexion{
    width: 120px;
    padding-left: 4px;
}