body{
    background-color:black;
}
h1{
    color:white;
}
@keyframes glisse{
    0% {transform:rotate(180deg);        
	}
	
    50% {transform: rotate(-180deg);
    }
    100%{
        transform:rotate(180deg)
    }
}

.image{
    position: relative
}
h2{
    position: absolute;
    left:10%;
    top:40%;
    color:white;
    font-size:300%;
}
h5{
    color:white;
    position: absolute;
    left:72.5%;
    top:55%;
   }
.banniere{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#intro{
    color:white;
    width: 40%;
    padding: 20%;
    font-size: 130%;
    position: relative;
    animation:glisse 8s;
   
}
.fa-eye{
    color:white;
    font-size: 500%;
    position: absolute;
    left:73%;
    top:45%;
}
#oeil
{
    color:white;
}
.menu
{
    display: flex;
    flex-direction: row;
    padding-left: 45%;
}
nav{
    display: flex;
    flex-direction: row;
    align-items:center;

}
ul li{
    padding-right: 10%;
    list-style-type: none;
    
}
li{
    color:white;
   
}
nav a{
    text-decoration: none;
    color:white;
    font-size: 120%;
}
